<div class="box">
  <div class="box-header with-border">
    <a class="btn btn-success btn-sm" (click)="create()"><span class="glyphicon glyphicon-plus"></span>创建</a>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px; margin-top: 7px;">
        <!--<input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="搜索">-->

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">序号</th>
        <th>单词</th>
        <th>词义</th>
        <th>ID</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let word_mean of word_means; let i = index">
        <td>{{i + 1}}</td>
        <td>{{word_mean.word.word}}</td>
        <td>{{word_mean.mean}}</td>
        <td>{{word_mean.id}}</td>
        <td>
          <a class="btn btn-warning btn-xs" (click)="update(word_mean)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
          <a class="btn btn-danger btn-xs" style="margin-left: 3px"><span class="glyphicon glyphicon-remove"></span>删除</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->

