<div class="tp-wrapper">
  <!--[@flipState]="flip"    加入触发器， 并赋值-->
  <!--(click)="toggleFlip()"  事件改变触发器的赋值。从而触动触发器形成动画-->
  <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
    <div class="tp-box__side tp-box__front">Tiếng Việt
    </div>
    <div class="tp-box__side tp-box__back">越南语
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/aoe.mp4" controls controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/iuvyw.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/bpmf.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/dtnl.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/gkh.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/jqx.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata"  src="../../assets/zcs.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/zhchshr.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" src="../../assets/aieiui.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/aoouiu.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/ieveer.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/12aneninunvn.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
    <div class="col-sm-6">
      <video oncontextmenu="return false;" preload="metadata" src="../../assets/13anɡenɡinɡonɡ.mp4" controls="controls" controlsList="nodownload" style="width : 100%; object-fit: fill">
        Video is not supported by yourbrowser
      </video>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="video-container">
        <iframe style="width : 100%; object-fit: fill" src="https://www.youtube.com/embed/AfjAMNzxqY0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
